<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Page</title>
</head>

<body>
    <h1>Text Page</h1>
    <h2>Folder: <%= projectName %>
    </h2>
    <form action="/store-text" method="post">
        <input type="hidden" name="projectName" value="<%= projectName %>">
        <textarea name="text" rows="4" cols="50"></textarea>
        <button type="submit">Add Text</button>
    </form>

    <a href="/project/<%= projectName %>">Back to Folder</a>
</body>

</html>